#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.gridRow {
    display: flex;
}

.gridCol {
    flex: 1;
    border: 2px solid black;
    color: white;
}

.painted {
    background-color: black;
    color: black;
}

